.main-chat
  .main-chat__header
    .main-chat__header__current-group 
      %p.groups-name 
        = @group.name
      %p.members-name
        -# = current_user.name
        Member:
        - @group.users.each do |user|
          = user.name
    .main-chat__header__edit 
      = link_to edit_group_path(@group), class: "btn" do
        = "edit"
  .main-chat__messages
    = render @messages
  .main-chat__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      .input-box
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn','data-disable-with' => false